@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

$primary: #323ee9;
$secondary: #a7b300;
$danger: #e74c3c;

$light0: #ffffff;
$light1: #f5f5f5;
$light2: #ebebeb;
$light3: #e0e0e0;
$light4: #cacaca;

$dark0: #000000;
$dark1: #1d1d1d;
$dark2: #2b2b2b;
$dark3: #3a3a3a;
$dark4: #4a4a4a;

$primaryFont: 'Nunito', sans-serif;